/* Clearfix*/

@mixin clearfix {
  display:block;
  
  &:after {
    content:"."; 
    display:block; 
    clear:both;
  }
  
  @include ie6-only {
    height: 1%;
  }
}

@mixin block-clearfix {
  overflow: hidden;
  zoom: 1;
}

@mixin clear{
  height: 0; 
  font-size: 0;
  line-height: 0;
  clear: both; 
  overflow: hidden;
}