/*Grid*/

@mixin wrap {
  max-width: $max-width;
  padding: 0 $offset/2;
  margin: 0 auto;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 #{-($offset/2)};
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin col-xl($col, $align: top) {
  $width: percentage($col/$columns);
  width: calc(#{$width} - #{$offset});
  vertical-align: $align;
  margin-left: $offset/2;
  margin-right: $offset/2;
}

@mixin col-lg($col, $align: top) {
    @media screen and (max-width: $width-lg) {
      $width: percentage($col/$columns);
      width: calc(#{$width} - #{$offset});
      vertical-align: $align;
      margin-left: $offset/2;
      margin-right: $offset/2;
    }
}


@mixin col-md($col, $align: top) {
    @media screen and (max-width: $width-md) {
      $width: percentage($col/$columns);
      width: calc(#{$width} - #{$offset});
      vertical-align: $align;
      margin-left: $offset/2;
      margin-right: $offset/2;
    }
}

@mixin col-sm($col, $align: top) {
    @media screen and (max-width: $width-sm) {
      $width: percentage($col/$columns);
      width: calc(#{$width} - #{$offset});
      vertical-align: $align;
      margin-left: $offset/2;
      margin-right: $offset/2;
    }
}

@mixin col-xs($col, $align: top) {
    @media screen and (max-width: $width-xs) {
      $width: percentage($col/$columns);
      width: calc(#{$width} - #{$offset});
      vertical-align: $align;
      margin-left: $offset/2;
      margin-right: $offset/2;
    }
}

@mixin justify-md {
  @media screen and (max-width: $width-md){
    justify-content: space-between;
  }
}

@mixin justify-ms {
  @media screen and (max-width: $width-ms){
    justify-content: space-between;
  }
}

@mixin justify-xs {
  @media screen and (max-width: $width-xs){
    justify-content: space-between;
  }
}