html, body {
  margin: 0;
  background: #232323;
  color: #fff;
  section {
    .wrapper {
      @include wrap;
      h1 {
        text-align: center;
      }
      .items {
        @include flex;
        .item {
          @include column;
          text-align: center;
          max-width: 560px;
          margin-top: 20px;
          border-radius: 10px;
          background: #fff;

          @include col-xl(3);
          @include col-md(6);
          @include col-xs(12);
          img {
            border-radius: 50%;
            margin: 10px auto;
            border: 7px solid #1abc9c;
          }
          .job {
            margin: 10px;
            color: #262626;
            margin-top: auto;
          }
          .subtitle {
            color: #1abc9c;
            font-size: 24px;
            margin: 10px;
          }
          .follow {
            background: #1abc9c;
            font-size: 24px;
            cursor: pointer;
            border-radius: 5px;
            padding: 5px;
            margin: 10px;
          }
        }
      }
    }
  }
}