@mixin flex-ie {
  /*display: inline-block;*/
}

@mixin col-ie {
	display: inline-block;
    box-sizing: border-box;
}

section {
	.wrapper {
	  .items {
	    @include flex-ie;
	    .item {
	      @include col-ie;
	    }
	  }
	}
}