/*Grid*/

/* Clearfix*/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  margin: 0;
  background: #232323;
  color: #fff;
}

html section .wrapper,
body section .wrapper {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

html section .wrapper h1,
body section .wrapper h1 {
  text-align: center;
}

html section .wrapper .items,
body section .wrapper .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

html section .wrapper .items .item,
body section .wrapper .items .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  max-width: 560px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  vertical-align: top;
  margin-left: 15px;
  margin-right: 15px;
}

html section .wrapper .items .item img,
body section .wrapper .items .item img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
  border: 7px solid #1abc9c;
}

html section .wrapper .items .item .job,
body section .wrapper .items .item .job {
  margin: 10px;
  color: #262626;
  margin-top: auto;
}

html section .wrapper .items .item .subtitle,
body section .wrapper .items .item .subtitle {
  color: #1abc9c;
  font-size: 24px;
  margin: 10px;
}

html section .wrapper .items .item .follow,
body section .wrapper .items .item .follow {
  background: #1abc9c;
  font-size: 24px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  html section .wrapper .items .item,
  body section .wrapper .items .item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 360px) {
  html section .wrapper .items .item,
  body section .wrapper .items .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
  }
}