doctype html
html(larg='en')
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='X-UA-Compatible', content='IE=9')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=pageTitle
        link(rel="stylesheet", href="css/main.css")
        //[if IE 8]><link rel="stylesheet" href="css/ie8.css"><![endif]
        //[if IE 9]><link rel="stylesheet" href="css/ie9.css"><![endif]
    body
        section
            .wrapper
                h1 LoremText
                .items
                    .item
                        img(src="/img/img1.jpg", width='120', height='120')
                        .subtitle Hose Di Lan Elion Diego Lanches
                        .job Front-End
                        .follow Follow
                    .item
                        img(src="/img/img2.jpg", width='120', height='120')
                        .subtitle Den Dier
                        .job Back-End
                        .follow Follow
                    .item
                        img(src="/img/img3.jpg", width='120', height='120')
                        .subtitle Lan Ballan
                        .job SEO
                        .follow Follow
                    .item
                        img(src="/img/img4.jpg", width='120', height='120')
                        .subtitle Danni Hope
                        .job Team Leader
                        .follow Follow